body {
  background: white;
}
svg {
  width: 720px;
  height: 720px;
  position: absolute;
  left: 200px;
  transform: scale(1, -1);
}

.jts-polygon {
  stroke: gray;
  stroke-width: 2px;
  fill: lightgray;
  fill-opacity: 0.3;
  position: absolute;
}

#probe {
  stroke: green;
  z-index: 1;
  fill-opacity: 0.8;
}

#patrol-field {
  stroke: red;
}

#science-area polygon {
  stroke: purple;
  fill: black;
  fill-opacity: 1;
}
